.idea/
target/
*.iml
*.log
out/
client/test
engine/
KLauncher
klauncher
dependency-reduced-pom.xml
MANIFEST.MF
start.sh
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
